
.navbar{
background-color:  rgb(51, 59, 77);
position: fixed;
left: 0;
right: 0;
z-index: 99999;
}
.nav-link{
    color: white;
    font-size: larger;
    font-weight: 600;
    margin-left: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link:hover{
    color: rgb(50, 219, 183);
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 600; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.test{
    background-color:rgb(54, 155, 133) ;
    border-radius: 5px;
    padding:10px 10px;
}