<!-- <p>home works!</p> -->
<header class=" ">
    <div class="container w-50 d-flex align-items-center flex-column">
        <img src="assets/imges/avataaars.svg" class="w-50" alt="">
        <h1>START ANGULAR</h1>
        <div class="decoration d-flex w-50">
            <div class="horizontalLine my-3 mx-2"></div>
            <div class="icon"><i class="fa-solid fa-star text-white fs-3"></i></div>
            <div class="horizontalLine my-3 mx-2 "></div>
        

    </div>
    <p class="info text-white fs-4">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</header>
